.jeju {
  margin-bottom: 150px;
}
.jeju .box {
  border: 1p solid #000;
  border-top: none;
  position: relative;
  overflow: hidden;
}
.jeju .box img {
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  height: 270px;
  width: 100%;
}
.jeju .box:hover img {
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.jeju .box_content {
  padding: 20px;
}
.jeju .box_content h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
