.about {
  margin: 150px auto;
}
.about img {
  height: 450px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.about .box {
  overflow: hidden;
}
.about h6 {
  font-size: 20px;
  font-weight: 600;
}
.about h5 {
  color: var(--main);
  font-size: 50px;
  font-weight: 600;
  margin: 20px auto;
}
.about p {
  font-size: 13px;
  margin: 10px auto;
}
.about .btn {
  margin: 10px auto;
}
