/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;1,400;1,500&display=swap');
/*Global Variable*/
:root{
  --main:#4978ce;
  --font_family: "Besley", serif;
}
* {
  font-family: var(--font_family);
  transition: 0.3s;
}
*::selection {
  background: var(--main);
  color: #fff;
}
.btn {
  background: var(--main);
  color: #fff;
  border-radius: 15px;
  transition: 0.2s;
  width: 200px;
}
.btn:hover {
  letter-spacing: 2px;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: var(--main);
}
html::-webkit-scrollbar-track {
  background: #000;
}
.content {
  text-align: center;
  margin: 70px auto;
}
.content h6 {
  font-size: 50px;
  font-weight: 600;
}
.content h6 span {
  font-weight: 900;
  font-size: 52px;
  color: var(--main);
}
.content p {
  font-size: 14px;
}